<ngx-gauge [type]="'arch'"
           [value]="(cpuStats | async)?.usage"
           [label]="'CPU-Usage'"
           [append]="'%'">
</ngx-gauge>
<ngx-gauge [type]="'arch'"
           [value]="(cpuStats | async)?.temp | number: '3.1-1'"
           [label]="'CPU-Temperature'"
           [append]="'°'">
</ngx-gauge>
<ngx-gauge [type]="'arch'"
           [value]="(ramStats | async)?.usage"
           [label]="'RAM-Usage'"
           [append]="'%'">
</ngx-gauge>
<ngx-gauge [type]="'arch'"
           [value]="(gpuStats | async)?.usage"
           [label]="'CPU-Usage'"
           [append]="'%'">
</ngx-gauge>
<ngx-gauge [type]="'arch'"
           [value]="(gpuStats | async)?.temp | number: '3.1-1'"
           [label]="'CPU-Temperature'"
           [append]="'°'">
</ngx-gauge>
<ngx-gauge [type]="'arch'"
           [value]="(gpuStats | async)?.memory"
           [label]="'RAM-Usage'"
           [append]="'%'">
</ngx-gauge>
